<div class="row">
  <div class="col-1"></div>
  <div class="container-fluid">
    <app-tabla-datos
      [forms]="partidaForm"
      [editStates]="editStates"
      [columns]="columns"
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      (onRowUpdate)="onRowUpdate($event)"
      (onRowDelete)="onRowDelete($event)"
    >
    </app-tabla-datos>
    <input type="file" style="display: none;" (change)="onFileChangeEvent($event)" #subirArchivo/>
    <button cButton (click)="subirArchivo.click()">Cargar Archivo</button>
  </div>
</div>
