<div class="row">
  <div class="col-1"></div>
  <div class="container">
    <form [formGroup]="userForm">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered hover">
        <thead>
          <tr class="bg-success text-white">
            <th>Nº</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Especialidad</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody formArrayName="users">
          <tr
            *ngFor="let user of users.controls; let i = index; trackBy: trackByFn"
            [formGroupName]="i"
            (keydown.enter)="onRowUpdate(i)"
            (dblclick)="onEdit(i); selectRow(i)"
          >
            <td>{{ i + 1 }}</td>
            <td (dblclick)="onEdit(i, 'nombre')">
              <ng-container *ngIf="!isEdit(i, 'nombre'); else editNombre">
                {{ user.get('nombre').value }}
              </ng-container>
              <ng-template #editNombre>
                <input type="text" formControlName="nombre" (blur)="onRowUpdate(i)"/>
              </ng-template>
            </td>
            <td (dblclick)="onEdit(i, 'apellido')">
              <ng-container *ngIf="!isEdit(i, 'apellido'); else editApellido">
                {{ user.get('apellido').value }}
              </ng-container>
              <ng-template #editApellido>
                <input type="text" formControlName="apellido" (blur)="onRowUpdate(i)"/>
              </ng-template>
            </td>
            <td (dblclick)="onEdit(i, 'idEspecialidad')">
              <ng-container *ngIf="!isEdit(i, 'idEspecialidad'); else editEspecialidad">
                <select cSelect formControlName="idEspecialidad" (blur)="onRowUpdate(i)">
                  <option *ngFor="let e of especialidad" [value]="e.idEspecialidad">
                    {{ e.nombreEspecialidad }}
                  </option>
                </select>
              </ng-container>
              <ng-template #editEspecialidad>
                <select cSelect formControlName="idEspecialidad" (blur)="onRowUpdate(i)">
                  <option *ngFor="let e of especialidad" [value]="e.idEspecialidad" (change)="toggleActivo(i)">
                    {{ e.nombreEspecialidad }}
                  </option>
                </select>
              </ng-template>
            </td>
            <td>
              <c-form-check [switch]="true" >
                <input  cFormCheckInput class="click" [checked]="user.get('isActivo').value" type="checkbox" (change)="toggleActivo(i)" />
              </c-form-check>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
