
<div class="row">
  <div class="col-1"></div>
  <div class="container">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered hover">
      <thead>
        <tr class="bg-success text-white">
          <th>Nº</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Especialidad</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr
        *ngFor="let user of userArray; let srNo = index; trackBy: trackByFn"
          [class.selected-row]="selectedUser === user"
          (keydown.enter)="onRowUpdate(user)"
          
        >
          <td>{{ srNo + 1 }}</td>
          <td (dblclick)="onEdit(user); selectRow(user)">
            <ng-container *ngIf="!user.isEdit; else editMode" >
              {{ user.nombre }}
            </ng-container>
            <ng-template #editMode>
              <input type="text" [formControl]="nombre" />
            </ng-template>
          </td>
          <td (dblclick)="onEdit(user); selectRow(user)">
            <ng-container *ngIf="!user.isEdit; else editModeUser">
              {{ user.apellido }}
            </ng-container>
            <ng-template #editModeUser>
              <input type="text" formControlName="apellido"/>
            </ng-template>
          </td>
          <td >
            <ng-container *ngIf="!user.isEdit; else editEspecialidad">
              <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option *ngFor="let e of especialidad" [value]="e.idEspecialidad">
                  {{ e.nombreEspecialidad }}
                </option>
              </select>
            </ng-container>
            <ng-template #editEspecialidad>
              <select cSelect [formControl]="idEspecialidad" (change)="onSpecialidadChange(user, $event)">
                <option *ngFor="let e of especialidad" [value]="e.idEspecialidad">
                  {{ e.nombreEspecialidad }}
                </option>
              </select>
            </ng-template>
                        
          </td>
          <td><c-form-check [switch]="true">
            <input cFormCheckInput [checked]="user.isActivo?true:false" type="checkbox" (click)="Mod(user)" />
          </c-form-check></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
