<form [formGroup]="forms">
  <table
    datatable
    #datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table table-bordered w-100"
  >
    <thead>
      <tr class="bg-success text-white">
        <th *ngFor="let colum of columns">{{ colum }}</th>
      </tr>
    </thead>
    <tbody formArrayName="list">
      <tr
        *ngFor="let partida of list.controls; let i = index"
        (keydown.enter)="handleRowUpdate(i)"
        [formGroupName]="i"
      >
        <td>{{ i + 1 }}</td>
        <td (dblclick)="onEdit(i, 'codPartida')">
          <ng-container *ngIf="!isEdit(i, 'codPartida'); else editItem">
            {{ partida.get("codPartida").value }}
          </ng-container>
          <ng-template #editItem>
            <textarea
              class="edit-input"
              formControlName="codPartida"
            ></textarea>
          </ng-template>
        </td>
        <td (dblclick)="onEdit(i, 'partida')">
          <ng-container *ngIf="!isEdit(i, 'partida'); else editPartida">
            {{ partida.get("partida").value }}
          </ng-container>
          <ng-template #editPartida>
            <input type="text" class="edit-input" formControlName="partida" />
          </ng-template>
        </td>
        <td (dblclick)="onEdit(i, 'und')">
          <ng-container *ngIf="!isEdit(i, 'und'); else editUnd">
            {{ partida.get("und").value }}
          </ng-container>
          <ng-template #editUnd>
            <input type="text" class="edit-input" formControlName="und" />
          </ng-template>
        </td>
        <td (dblclick)="onEdit(i, 'total')">
          <ng-container *ngIf="!isEdit(i, 'total'); else editTotal">
            {{ partida.get("total").value }}
          </ng-container>
          <ng-template #editTotal>
            <input type="text" class="edit-input" formControlName="total" />
          </ng-template>
        </td>
        <td>
          <app-button
            buttonText="Delete"
            [data]="partida.get('idPartida').value"
            (buttonClick)="onDelete({index:i,idPartida:partida.get('idPartida').value})"
          />
        </td>
      </tr>
    </tbody>
  </table>
</form>
