<app-form-usuarios (onSubmit)="guardarCambios($event)"></app-form-usuarios>
<div class="row">
  <div class="container-fluid">
    <form [formGroup]="userForm">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered hover w-100">
        <thead>
          <tr class="bg-success text-white">
            <th>Nº</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Especialidad</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody formArrayName="users">
          <tr
            *ngFor="let user of users.controls; let i = index; trackBy: trackByFn"
            [formGroupName]="i"
          >
            <td>{{ i + 1 }}</td>
            <td (dblclick)="onEdit(i, 'nombre',$event)"(keydown.enter)="onRowUpdate(i,$event)">
              <ng-container *ngIf="!isEdit(i, 'nombre'); else editNombre">
                {{ user.get('nombre').value }}
              </ng-container>
              <ng-template #editNombre>
                <input type="text" formControlName="nombre" />
              </ng-template>
            </td>
            <td (dblclick)="onEdit(i, 'apellido',$event)" (keydown.enter)="onRowUpdate(i,$event)">
              <ng-container *ngIf="!isEdit(i, 'apellido'); else editApellido">
                {{ user.get('apellido').value }}
              </ng-container>
              <ng-template #editApellido>
                <input type="text" formControlName="apellido"/>
              </ng-template>
            </td>
            <td>
              <select cSelect formControlName="idEspecialidad" (change)="ModCombobox(i,$event)">
                <option *ngFor="let e of especialidad" [value]="e.idEspecialidad"  >
                  {{ e.nombreEspecialidad }}
                </option>
              </select>
            </td>
            <td>
              <c-form-check [switch]="true" >
                <input  cFormCheckInput class="click" [checked]="user.get('isActivo').value" type="checkbox" (change)="toggleActivo(i)" />
              </c-form-check>
            </td>
          </tr>
          <tr>
            <td>{{ users.controls.length + 1 }}</td>
            <td><input class="edit-input" formControlName="nombre"/></td>
            <td><input class="edit-input" formControlName="apellido"/></td>
            <td><select cSelect formControlName="idEspecialidad" >
              <option *ngFor="let e of especialidad" [value]="e.idEspecialidad">
                {{ e.nombreEspecialidad }}
              </option>
            </select></td>
            <td><c-form-check [switch]="true" >
              <input  cFormCheckInput class="click" type="checkbox" disabled/>
            </c-form-check></td>
            <td><button type="button" (click)="addNewUser()">Add New</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
